.Console, .OuterContainer {
    width: 700px;
    min-height: 100vh;
    max-height: 100vh;
}

.OuterContainer {
    position: relative;
    overflow: hidden;
}

.InnerContainer {
    position: absolute;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: #FFFAFF;

}

.Console {
    display: flex;
    flex-direction: column;
}

.Buffer {
    flex-grow: 1;
}

.InputCard {
    min-height: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.Input {
    height: 40px;
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.TextInput {
    background: transparent;
    outline: none;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom-color: #0D1B2A;
    margin-right: 20px;
    flex-grow: 3;
}

.TextInput:focus {
    border-bottom-color: #17BEBB;
}

.SubmitButton {
    background-color: #3E92CC;
    flex-grow: 1;
    text-decoration: none;
    border: none;
}

.Seperator {
    background-color: #0D1B2A;
    height: 2px;
    width: 90%;
    margin: 0 auto;
}