.Menu {
    background-color: #0D1B2A;
    user-select: none;
    height: 100vh;
    color:#FFFAFF;
    overflow-y: auto;
}

.MenuTitle {
    padding: 30px;
    font-size: 2em;
}

.MenuItem {

}

.MenuText {
    padding: 10px;
    padding-left: 30px;
}

.MenuText:hover {
    padding-left: 50px;
}

.AboutText {
    padding: 10px;
    padding-left: 30px;
    font-size: 0.8em;
}

.Seperator {
    width: 100%;
    height: 5px;
    background-color: #0D1B2A;
}